<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>블로그 게시판</title>
    <link rel="stylesheet" href="mystyle.css">
</head>

<body>
    <nav>
        <ul class="nav-container">

            <li class="nav-item"><a href=""> 홈 </a></li>
            <li class="nav-item"><a href=""> 만들기 </a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
</body>

</html>